.tweet1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 100%;
    margin-top:5%;
    margin-bottom: 2vw;
}

.person1 {
    display: flex;
    position: relative;
    clip-path: ellipse(50% 50%);
    width: 15%;
    width: 5vw;
}

.pseudo1 {
    display: flex;
    color: white;
    position: relative;
    font-size: 2vw;
}

.resum1 {
    display: flex;
    color: white;
    position: relative;
    font-size: 1.6vw;
}

.Poubelle{
    height: 2vw;
    width: 2vw;
    position: relative;
    margin-top: 9vw;
}

.post1 {
    height: 2vw;
    width: 2vw;
    position: relative;
    margin-top: 9vw;
}

.tweet2 {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin-top: 7%;
}

.tweet2 .Poubelle {
    margin-top: 36vw;
}

.tweet3 .Poubelle {
    margin-top: 36vw;
}

.person2 {
    display: flex;
    position: relative;
    clip-path: ellipse(50% 30%);
    width: 5vw;
    height: 8vw;
    margin-left: 2.2vw;
}

.pseudo2 {
    display: flex;
    color: white;
    position: relative;
    font-size: 2vw;
    margin-left: 4vw;
    margin-top: 3%;
}

.resum2 {
    display: flex;
    color: white;
    font-size: 1.6vw;
    margin-left: 4vw;
}

.img_resum2 {
    display: flex;
    height: auto;
    width: 40vw;
    height: 30vw;
    border-radius: 1em;
    position: relative;
    left: 6vw;
    /* top: 4vw; */
}

.post2 {
    height: 2vw;
    width: 2vw;
    position: relative;
    margin-top: 39vw;
    margin-bottom: 20%;
}

.tweet3 {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin-top: 20%;
}

.person3 {
    display: flex;
    position: relative;
    clip-path: ellipse(50% 30%);
    width: 5vw;
    height: 8vw;
    margin-left: 2.2vw;
}

.pseudo3 {
    display: flex;
    color: white;
    position: relative;
    font-size: 2vw;
    margin-left: 4vw;
    margin-top: 3%;
}

.resum3 {
    display: flex;
    color: white;
    font-size: 1.6vw;
    margin-left: 4vw;
}

.post3 {
    height: 2vw;
    width: 2vw;
    position: relative;
    margin-top: 39vw;
    margin-bottom: 20%;
}

.tweet4 {
    display: flex;
    margin-top: 10%;
    height: 10vw;
    width: 55vw;
}

.person4 {
    display: flex;
    position: relative;
    left: 2vw;
    top: 2vw;
    clip-path: ellipse(50% 50%);
    width: 15%;
    width: 5vw;
    height: 5vw;
}

.pseudo4 {
    display: flex;
    color: white;
    position: relative;
    left: 5vw;
    top: 2.5vw;
    font-size: 20px;
}

.resum4 {
    display: flex;
    color: white;
    position: relative;
    top: 4vw;
    left: 5vw;
}

.post4 {
    height: 2vw;
    width: 2vw;
    position: relative;
    top: 2.5vw;
    left: 15vw;
}

.tweet5 {
    display: flex;
    margin-top: 10%;
    height: 10vw;
    width: 55vw;
}

.person5 {
    display: flex;
    position: relative;
    left: 2vw;
    top: 2vw;
    clip-path: ellipse(50% 50%);
    width: 15%;
    width: 5vw;
    height: 5vw;
}

.pseudo5 {
    display: flex;
    color: white;
    position: relative;
    left: 5vw;
    top: 2.5vw;
    font-size: 20px;
}

.resum5 {
    display: flex;
    color: white;
    position: relative;
    top: 4vw;
    left: 5vw;
}

.post5 {
    height: 2vw;
    width: 2vw;
    position: relative;
    top: 2.5vw;
    left: 15vw;
}

.croix {
    position: fixed;
    right: 0%;
    top: 0%;
}

.opacity{
    color: aliceblue;
    animation: 1s Cacher forwards ease-out;
}

.post1:hover + .opacity{
    animation: 1s Afficher forwards ease-out;
}

.post2:hover + .opacity{
    animation: 1s Afficher forwards ease-out;
}

.post3:hover + .opacity{
    animation: 1s Afficher forwards ease-out;
}

@keyframes Afficher {
    0% {
        opacity: 0%;
        
    }
    100% {
        opacity: 100%;
    }
}

@keyframes Cacher {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        
    }
}

@media screen and (max-width: 500px) {
    .suggestions{
        position: fixed;
        right: -50%;
    }
    .tweets{
        width: 100%;
    }
}